<div id="about" class="head-about row">
	<div class="col-md-6 text-right">
		<%= image_tag("karl4.jpg", class:'img-bio') %>
	</div>
	<div class="col-md-4 text-justify">
		<p>Karl is a French actor and filmmaker.</p>
		<p>He is a household name in French TV, and the face of various world wide campaigns (Shiseido by Jean Paul Goude, Ubisoft, Daytona). His leading roles in episodic TV shows -  Metal Hurlant Chronicles (US SyFy), Profilage, S.D.R  amongst many others - repeatedly establish new primetime viewer records, with his episodes garnering awards (Profilage won Best TV Drama). In "Les Fauves" produced by the french main network TF1, we see Karl - playing the lead role - take down a mafia unit as an undercover cop.</p>
		<p>Being a professional gymnast and freerunner, Karl was chosen to join the exclusive stunt team hand selected by Luc Besson, which brought « District 13 », « Transporter 3 », and many more to our screens. His first two features (« One to another » released in the US) were helmed by Jean Marc Barr (The Big Blue).  Today he spends most of his time in the US, diving into the world of indie filmmaking. He co-stared in « Layover » which has run in many US film festivals.</p>
		<p>He’s also very active behind the camera. His directorial debut  « DuO » is a colorful short movie made in 48 hours.  He is  currently developing several indie projects.</p>
	</div>
	<div class="col-md-1">
	</div>

</div>
