<div id="about" class="head-about row">
	<div class="col-md-6 col-md-offset-3">
		<p>This is a paragraph (or two) about Ching Casanova Tapia. Based in sunny Los Angeles, but will happily travel for the right (or any) reason.</p>
		<p>She does many things and involved in diverse industries. Right now she is working on something brilliant.</p>
	</div>
</div>
