<div class="film">
	<div class="row">
		<div class="col-md-4 text-right">
			<%= image_tag("home.png", class:'img-film') %>
		</div>
		<div class="col-md-4 text-justify">
			<p>Karl is engaged in many indie productions and short movies. Most recently completed is a commercial he produced along side Viscus Film for Solbeso.</p>
			<p>He is currently developing projects, feature films, and short films as co-producer, writer, and/or director. Each of these projects is co-developed with established producers, writers and directors within the industry.</p>
		</div>
		<div class="col-md-4">
			<%= image_tag("poster.jpeg", class:'current-proj') %>
			<h6 class="text-left">Support Karl's Kickstarter<br/> campaign for << DuO >></h6>
		</div>
	</div>
</div>
