<div id="film" class="row">
	<div class="col-md-6 col-md-offset-3">
		<p>Karl is engaged in many indie productions and short movies. Most recently completed is a commercial he produced along side Viscus Film for Solbeso.</p>
		<p>He is currently developing projects, feature films, and short films as co-producer, writer, and/or director. Each of these projects is co-developed with established producers, writers and directors within the industry.</p>

		<br/><br/>
		<h6 class="text-center">Support Karl's Kickstarter campaign for << DuO >></h6>
		<h4 class="trailer text-center">Duo Trailer here</h4>

	</div>
</div>
