@import "bootstrap-sprockets";
@import "bootstrap";
@import "fonts.css.scss";
@import "headlines.css.scss";
@import "static.scss";


html{
  height: 100vh;
  width: 100%;

  body {
    height: inherit;
    width: inherit;
  }
}

.btn {
  border-radius: 0;
  width: 100px;
  border: 3px solid #fff;
}
.btn:hover, .btn:visited, .btn:active {
  color: #fff;
  background-color: #8e44ad;
  border: 3px solid #8e44ad;
  transition: all .2s ease-in-out;
}
.btn-primary {
  background-color: transparent;
}
.btn-primary:hover, .btn-primary:visited, .btn-primary:active {
  color: #fff;
  background-color: #16a085;
  border: 3px solid #16a085;
  transition: all .2s ease-in-out;
}
a {
  color: #eee;
}
a:hover, a:visited, a:active {
  color: #2980b9;
  text-decoration: none;
  transition: all .2s ease-in-out;
}
body {
  background-color: #333;
}

#top-brand {
  img {
    max-width: 200px;
  }
}
@media (max-width: 767px) {
  #top-brand {
    position: fixed;
    top: 15px;
    left: 10px;
    img {
      max-width: 150px;
    }
  }
}
@media (min-width: 768px) {
  #top-brand {
    padding-top: 25px;
    display:block;
  }
}


nav.navbar.navbar-default {
  color: #333;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  letter-spacing: .5em;
  padding-top:0;
  a:hover, a:visited, a:active {
    color: #2980b9;
    text-decoration: none;
  }
}

@media (max-width: 767px) {
  .navbar-toggle {
    position: fixed;
    top: 0;
    right: 0;
  }
  .navbar-collapse {
    margin-top: 40px;
    float:right;
    background-color: #444;
  }
}
@media (min-width: 768px) {
  .navbar .nav,
  .navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
    margin-top: -10px;
  }
  .navbar-inner {
    text-align:center;
  }
}

.logo-top {
  letter-spacing: 0;
}

.social {
  position: fixed;
  top: 10px;
  left: 10px;
  img {
    height:25px;
    width:auto;
  }
}


.auth {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.current {
  position: fixed;
  top: 35px;
  left: 10px;
  img {
    height: 15px;
  }
}
